@import './mdl-variables.scss';

.md-tabs {
  .md-tabs-navigation {
    height: $tabs-nav-height;
    min-height: $tabs-nav-height;
  }
}
.md-input-container {
    margin-bottom: $gap-size;
}

.md-dense.md-avatar {
    width: $dense-avatar-size;
    min-width: $dense-avatar-size;
    height: $dense-avatar-size;
    min-height: $dense-avatar-size;
}

.md-m-b{
    margin-bottom: $gap-size;
}

.md-p{
  padding: $gap-size;
}