@import '~vue-material/src/core/stylesheets/variables.scss';
// width to embed the sidenav in container
$embed-sidenav-width: 1281px;
// width of sidenav 
$sizebar-width: 230px;
// customize the height of tab nav header
$tabs-nav-height: 40px;
// default margin size
$gap-size: 12px;