@import './mdl-variables.scss';

.md-tabs {
  .md-tabs-navigation {
    height: $tabs-nav-height;
    min-height: $tabs-nav-height;
  }
}
.md-input-container {
    margin-bottom: $gap-size;
}
.md-m-b{
    margin-bottom: $gap-size;
}

.md-p{
  padding: $gap-size;
}