@import '../../assets/styles/mdl-variables.scss';
  /* TODO: Hover and Focus state.
  *       Fix position of mobile search button.
  */
  .md-filter-box {
    margin: 0 10px 0 0;
    align-items: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-basis: 300px;
    display: inline-flex;
    >form {
      /* Cross browser flex-grow */
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: inline-flex;
        >input {
        /* Cross browser flex-grow */
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        outline: none;
        border: none;
        font-size: 14px;
        color: #FFFFFF;
        background-color: #78909C;
        padding: 0 8px 0 8px;
        height: 36px;
        line-height: 36px; /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */
        
        &::-webkit-input-placeholder { /* WebKit browsers */
          color:    #FFFFFF;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #FFFFFF;
          opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #FFFFFF;
          opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color:    #FFFFFF;
        }
      }
    }

  }
